Repository OrlandoDevs/ignite-the-holidays: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

Add improv slides
  slides/improv-hallucinations.md
  slides/improv-lint.md
  slides/improv-mjb.md
  slides/improv-mlb.md
  slides/improv-orig.md
Due: none

Add cross-platform support for building index html
  .gitignore
  scripts/build-index.js
Due: eslint --fix, prettier --write

Stop tracking slides/list.json
  slides/list.json
Due: prettier --write

add 20 eeg pong game presentation slides
  resources/images/eeg-pong-game/01-eeg_pong_game.jpg
  resources/images/eeg-pong-game/02-eeg_pong_game.jpg
  resources/images/eeg-pong-game/03-eeg_pong_game.jpg
  resources/images/eeg-pong-game/04-eeg_pong_game.jpg
  resources/images/eeg-pong-game/05-eeg_pong_game.jpg
  resources/images/eeg-pong-game/06-eeg_pong_game.jpg
  resources/images/eeg-pong-game/07-eeg_pong_game.jpg
  resources/images/eeg-pong-game/08-eeg_pong_game.jpg
  resources/images/eeg-pong-game/09-eeg_pong_game.jpg
  resources/images/eeg-pong-game/10-eeg_pong_game.jpg
  resources/images/eeg-pong-game/11-eeg_pong_game.jpg
  resources/images/eeg-pong-game/12-eeg_pong_game.jpg
  resources/images/eeg-pong-game/13-eeg_pong_game.jpg
  resources/images/eeg-pong-game/14-eeg_pong_game.jpg
  resources/images/eeg-pong-game/15-eeg_pong_game.jpg
  resources/images/eeg-pong-game/16-eeg_pong_game.jpg
  resources/images/eeg-pong-game/17-eeg_pong_game.jpg
  resources/images/eeg-pong-game/18-eeg_pong_game.jpg
  resources/images/eeg-pong-game/19-eeg_pong_game.jpg
  resources/images/eeg-pong-game/20-eeg_pong_game.jpg
Due: none

added nes and tweaked slide creation scripts
  create.ps1
  create.sh
  improv-lint.sh
  improv-mjb.sh
  improv-mlb.sh
  resources/images/nes/01-nes.jpg
  resources/images/nes/02-nes.jpg
  resources/images/nes/03-nes.jpg
  resources/images/nes/04-nes.jpg
  resources/images/nes/05-nes.jpg
  resources/images/nes/06-nes.jpg
  resources/images/nes/07-nes.jpg
  resources/images/nes/08-nes.jpg
  resources/images/nes/09-nes.jpg
  resources/images/nes/10-nes.jpg
  resources/images/nes/11-nes.jpg
  resources/images/nes/12-nes.jpg
  resources/images/nes/13-nes.jpg
  resources/images/nes/14-nes.jpg
  resources/images/nes/15-nes.jpg
  resources/images/nes/16-nes.jpg
  resources/images/nes/17-nes.jpg
  resources/images/nes/18-nes.jpg
  resources/images/nes/19-nes.jpg
  resources/images/nes/20-nes.jpg
  slides/list.json
  slides/nes.md
Due: prettier --write

feat: JourneyLearningRust-2025
  resources/images/JourneyLearningRust/01-JourneyLearningRust.png
  resources/images/JourneyLearningRust/02-JourneyLearningRust.png
  resources/images/JourneyLearningRust/03-JourneyLearningRust.png
  resources/images/JourneyLearningRust/04-JourneyLearningRust.png
  resources/images/JourneyLearningRust/05-JourneyLearningRust.png
  resources/images/JourneyLearningRust/06-JourneyLearningRust.png
  resources/images/JourneyLearningRust/07-JourneyLearningRust.png
  resources/images/JourneyLearningRust/08-JourneyLearningRust.png
  resources/images/JourneyLearningRust/09-JourneyLearningRust.png
  resources/images/JourneyLearningRust/10-JourneyLearningRust.png
  resources/images/JourneyLearningRust/11-JourneyLearningRust.png
  resources/images/JourneyLearningRust/12-JourneyLearningRust.png
  resources/images/JourneyLearningRust/13-JourneyLearningRust.png
  resources/images/JourneyLearningRust/14-JourneyLearningRust.png
  resources/images/JourneyLearningRust/15-JourneyLearningRust.png
  resources/images/JourneyLearningRust/16-JourneyLearningRust.png
  resources/images/JourneyLearningRust/17-JourneyLearningRust.png
  resources/images/JourneyLearningRust/18-JourneyLearningRust.png
  resources/images/JourneyLearningRust/19-JourneyLearningRust.png
  resources/images/JourneyLearningRust/20-JourneyLearningRust.png
Due: none

add myFirstApp presentation slides
  resources/images/myFirstApp/01-myFirstApp.png
  resources/images/myFirstApp/02-myFirstApp.png
  resources/images/myFirstApp/03-myFirstApp.png
  resources/images/myFirstApp/04-myFirstApp.png
  resources/images/myFirstApp/05-myFirstApp.png
  resources/images/myFirstApp/06-myFirstApp.png
  resources/images/myFirstApp/07-myFirstApp.png
  resources/images/myFirstApp/08-myFirstApp.png
  resources/images/myFirstApp/09-myFirstApp.png
  resources/images/myFirstApp/10-myFirstApp.png
  resources/images/myFirstApp/11-myFirstApp.png
  resources/images/myFirstApp/12-myFirstApp.png
  resources/images/myFirstApp/13-myFirstApp.png
  resources/images/myFirstApp/14-myFirstApp.png
  resources/images/myFirstApp/15-myFirstApp.png
  resources/images/myFirstApp/16-myFirstApp.png
  resources/images/myFirstApp/17-myFirstApp.png
  resources/images/myFirstApp/18-myFirstApp.png
  resources/images/myFirstApp/19-myFirstApp.png
  resources/images/myFirstApp/20-myFirstApp.png
Due: none

rename folder myFirstApp -> firstapp
  resources/images/firstapp/01-myFirstApp.png
  resources/images/firstapp/02-myFirstApp.png
  resources/images/firstapp/03-myFirstApp.png
  resources/images/firstapp/04-myFirstApp.png
  resources/images/firstapp/05-myFirstApp.png
  resources/images/firstapp/06-myFirstApp.png
  resources/images/firstapp/07-myFirstApp.png
  resources/images/firstapp/08-myFirstApp.png
  resources/images/firstapp/09-myFirstApp.png
  resources/images/firstapp/10-myFirstApp.png
  resources/images/firstapp/11-myFirstApp.png
  resources/images/firstapp/12-myFirstApp.png
  resources/images/firstapp/13-myFirstApp.png
  resources/images/firstapp/14-myFirstApp.png
  resources/images/firstapp/15-myFirstApp.png
  resources/images/firstapp/16-myFirstApp.png
  resources/images/firstapp/17-myFirstApp.png
  resources/images/firstapp/18-myFirstApp.png
  resources/images/firstapp/19-myFirstApp.png
  resources/images/firstapp/20-myFirstApp.png
Due: none

3.0.5 presentation slide standardization
  create.ps1
  create.sh
  resources/images/ith-black-background.png
  resources/images/progress-wt.svg
  resources/images/progress.png
  resources/images/progress.svg
  resources/images/rust/01-JourneyLearningRust.png
  resources/images/rust/02-JourneyLearningRust.png
  resources/images/rust/03-JourneyLearningRust.png
  resources/images/rust/04-JourneyLearningRust.png
  resources/images/rust/05-JourneyLearningRust.png
  resources/images/rust/06-JourneyLearningRust.png
  resources/images/rust/07-JourneyLearningRust.png
  resources/images/rust/08-JourneyLearningRust.png
  resources/images/rust/09-JourneyLearningRust.png
  resources/images/rust/10-JourneyLearningRust.png
  resources/images/rust/11-JourneyLearningRust.png
  resources/images/rust/12-JourneyLearningRust.png
  resources/images/rust/13-JourneyLearningRust.png
  resources/images/rust/14-JourneyLearningRust.png
  resources/images/rust/15-JourneyLearningRust.png
  resources/images/rust/16-JourneyLearningRust.png
  resources/images/rust/17-JourneyLearningRust.png
  resources/images/rust/18-JourneyLearningRust.png
  resources/images/rust/19-JourneyLearningRust.png
  resources/images/rust/20-JourneyLearningRust.png
  slides/ai.md
  slides/eeg.md
  slides/nes.md
  slides/rust.md
  slides/welcome.md
  templates/_index.html
Due: none

Add slides for From Dev to CEO and Back Again presentation
  resources/images/from-dev-to-ceo-and-back-again/01-from-dev-to-ceo-and-back-again.001.png
  resources/images/from-dev-to-ceo-and-back-again/02-from-dev-to-ceo-and-back-again.002.png
  resources/images/from-dev-to-ceo-and-back-again/03-from-dev-to-ceo-and-back-again.003.png
  resources/images/from-dev-to-ceo-and-back-again/04-from-dev-to-ceo-and-back-again.004.png
  resources/images/from-dev-to-ceo-and-back-again/05-from-dev-to-ceo-and-back-again.005.png
  resources/images/from-dev-to-ceo-and-back-again/06-from-dev-to-ceo-and-back-again.006.png
  resources/images/from-dev-to-ceo-and-back-again/07-from-dev-to-ceo-and-back-again.007.png
  resources/images/from-dev-to-ceo-and-back-again/08-from-dev-to-ceo-and-back-again.008.png
  resources/images/from-dev-to-ceo-and-back-again/09-from-dev-to-ceo-and-back-again.009.png
  resources/images/from-dev-to-ceo-and-back-again/10-from-dev-to-ceo-and-back-again.010.png
  resources/images/from-dev-to-ceo-and-back-again/11-from-dev-to-ceo-and-back-again.011.png
  resources/images/from-dev-to-ceo-and-back-again/12-from-dev-to-ceo-and-back-again.012.png
  resources/images/from-dev-to-ceo-and-back-again/13-from-dev-to-ceo-and-back-again.013.png
  resources/images/from-dev-to-ceo-and-back-again/14-from-dev-to-ceo-and-back-again.014.png
  resources/images/from-dev-to-ceo-and-back-again/15-from-dev-to-ceo-and-back-again.015.png
  resources/images/from-dev-to-ceo-and-back-again/16-from-dev-to-ceo-and-back-again.016.png
  resources/images/from-dev-to-ceo-and-back-again/17-from-dev-to-ceo-and-back-again.017.png
  resources/images/from-dev-to-ceo-and-back-again/18-from-dev-to-ceo-and-back-again.018.png
  resources/images/from-dev-to-ceo-and-back-again/19-from-dev-to-ceo-and-back-again.019.png
  resources/images/from-dev-to-ceo-and-back-again/20-from-dev-to-ceo-and-back-again.020.png
Due: none

3.0.8ish - moved ceo images and tested
  resources/images/ceo/01-from-dev-to-ceo-and-back-again.001.png
  resources/images/ceo/02-from-dev-to-ceo-and-back-again.002.png
  resources/images/ceo/03-from-dev-to-ceo-and-back-again.003.png
  resources/images/ceo/04-from-dev-to-ceo-and-back-again.004.png
  resources/images/ceo/05-from-dev-to-ceo-and-back-again.005.png
  resources/images/ceo/06-from-dev-to-ceo-and-back-again.006.png
  resources/images/ceo/07-from-dev-to-ceo-and-back-again.007.png
  resources/images/ceo/08-from-dev-to-ceo-and-back-again.008.png
  resources/images/ceo/09-from-dev-to-ceo-and-back-again.009.png
  resources/images/ceo/10-from-dev-to-ceo-and-back-again.010.png
  resources/images/ceo/11-from-dev-to-ceo-and-back-again.011.png
  resources/images/ceo/12-from-dev-to-ceo-and-back-again.012.png
  resources/images/ceo/13-from-dev-to-ceo-and-back-again.013.png
  resources/images/ceo/14-from-dev-to-ceo-and-back-again.014.png
  resources/images/ceo/15-from-dev-to-ceo-and-back-again.015.png
  resources/images/ceo/16-from-dev-to-ceo-and-back-again.016.png
  resources/images/ceo/17-from-dev-to-ceo-and-back-again.017.png
  resources/images/ceo/18-from-dev-to-ceo-and-back-again.018.png
  resources/images/ceo/19-from-dev-to-ceo-and-back-again.019.png
  resources/images/ceo/20-from-dev-to-ceo-and-back-again.020.png
  resources/images/ceo/helmet.png
Due: none

AI Retooling Talk - Will Gorman
  resources/images/retooling/01_retooling.png
  resources/images/retooling/02_retooling.png
  resources/images/retooling/03_retooling.png
  resources/images/retooling/04_retooling.png
  resources/images/retooling/05_retooling.png
  resources/images/retooling/06_retooling.png
  resources/images/retooling/07_retooling.png
  resources/images/retooling/08_retooling.png
  resources/images/retooling/09_retooling.png
  resources/images/retooling/10_retooling.png
  resources/images/retooling/11_retooling.png
  resources/images/retooling/12_retooling.png
  resources/images/retooling/13_retooling.png
  resources/images/retooling/14_retooling.png
  resources/images/retooling/15_retooling.png
  resources/images/retooling/16_retooling.png
  resources/images/retooling/17_retooling.png
  resources/images/retooling/18_retooling.png
  resources/images/retooling/19_retooling.png
  resources/images/retooling/20_retooling.png
Due: none

(feat) adds images slides into the intentions folder
  resources/images/intentions/helmet.png
  resources/images/intentions/intentions-images-0.jpg
  resources/images/intentions/intentions-images-1.jpg
  resources/images/intentions/intentions-images-10.jpg
  resources/images/intentions/intentions-images-11.jpg
  resources/images/intentions/intentions-images-12.jpg
  resources/images/intentions/intentions-images-13.jpg
  resources/images/intentions/intentions-images-14.jpg
  resources/images/intentions/intentions-images-15.jpg
  resources/images/intentions/intentions-images-16.jpg
  resources/images/intentions/intentions-images-17.jpg
  resources/images/intentions/intentions-images-18.jpg
  resources/images/intentions/intentions-images-19.jpg
  resources/images/intentions/intentions-images-2.jpg
  resources/images/intentions/intentions-images-3.jpg
  resources/images/intentions/intentions-images-4.jpg
  resources/images/intentions/intentions-images-5.jpg
  resources/images/intentions/intentions-images-6.jpg
  resources/images/intentions/intentions-images-7.jpg
  resources/images/intentions/intentions-images-8.jpg
  resources/images/intentions/intentions-images-9.jpg
Due: none

(feat) renames the images to the right format
  resources/images/intentions/01-intentions-images.jpg
  resources/images/intentions/02-intentions-images.jpg
  resources/images/intentions/03-intentions-images.jpg
  resources/images/intentions/04-intentions-images.jpg
  resources/images/intentions/05-intentions-images.jpg
  resources/images/intentions/06-intentions-images.jpg
  resources/images/intentions/07-intentions-images.jpg
  resources/images/intentions/08-intentions-images.jpg
  resources/images/intentions/09-intentions-images.jpg
  resources/images/intentions/10-intentions-images.jpg
  resources/images/intentions/11-intentions-images.jpg
  resources/images/intentions/12-intentions-images.jpg
  resources/images/intentions/13-intentions-images.jpg
  resources/images/intentions/14-intentions-images.jpg
  resources/images/intentions/15-intentions-images.jpg
  resources/images/intentions/16-intentions-images.jpg
  resources/images/intentions/17-intentions-images.jpg
  resources/images/intentions/18-intentions-images.jpg
  resources/images/intentions/19-intentions-images.jpg
  resources/images/intentions/20-intentions-images.jpg
Due: none

ci: fix failing test: generate list.json dynamically
  .github/workflows/ci.yml
Due: prettier --write

add slides: mind the gap
  resources/images/gap/Slide1.png
  resources/images/gap/Slide10.png
  resources/images/gap/Slide11.png
  resources/images/gap/Slide12.png
  resources/images/gap/Slide13.png
  resources/images/gap/Slide14.png
  resources/images/gap/Slide15.png
  resources/images/gap/Slide16.png
  resources/images/gap/Slide17.png
  resources/images/gap/Slide18.png
  resources/images/gap/Slide19.png
  resources/images/gap/Slide2.png
  resources/images/gap/Slide20.png
  resources/images/gap/Slide3.png
  resources/images/gap/Slide4.png
  resources/images/gap/Slide5.png
  resources/images/gap/Slide6.png
  resources/images/gap/Slide7.png
  resources/images/gap/Slide8.png
  resources/images/gap/Slide9.png
Due: none

3.0.9 - mlb markdown
  slides/improv-mlb.md
Due: none

mind-the-gap image rename
  resources/images/gap/01-mindthegap.png
  resources/images/gap/02-mindthegap.png
  resources/images/gap/03-mindthegap.png
  resources/images/gap/04-mindthegap.png
  resources/images/gap/05-mindthegap.png
  resources/images/gap/06-mindthegap.png
  resources/images/gap/07-mindthegap.png
  resources/images/gap/08-mindthegap.png
  resources/images/gap/09-mindthegap.png
  resources/images/gap/10-mindthegap.png
  resources/images/gap/11-mindthegap.png
  resources/images/gap/12-mindthegap.png
  resources/images/gap/13-mindthegap.png
  resources/images/gap/14-mindthegap.png
  resources/images/gap/15-mindthegap.png
  resources/images/gap/16-mindthegap.png
  resources/images/gap/17-mindthegap.png
  resources/images/gap/18-mindthegap.png
  resources/images/gap/19-mindthegap.png
  resources/images/gap/20-mindthegap.png
  resources/images/gap/helmet.png
Due: none

3.0.10 - Tweaked the Title Slide format for all slides
  slides/ai.md
  slides/ceo.md
  slides/eeg.md
  slides/firstapp.md
  slides/gap.md
  slides/improv-mlb.md
  slides/improv-projects.md
  slides/intentions.md
  slides/nes.md
  slides/retooling.md
  slides/rust.md
  templates/_index.html
Due: none

3.0.11 - welcome talk
  .markdownlint.json
  resources/images/welcome/01-welcome.jpg
  resources/images/welcome/01_welcome.png
  resources/images/welcome/02-welcome.jpg
  resources/images/welcome/02_welcome.png
  resources/images/welcome/03-welcome.jpg
  resources/images/welcome/03_welcome.png
  resources/images/welcome/04-welcome.jpg
  resources/images/welcome/04_welcome.png
  resources/images/welcome/05-welcome.jpg
  resources/images/welcome/05_welcome.png
  resources/images/welcome/06-welcome.jpg
  resources/images/welcome/06_welcome.png
  resources/images/welcome/07_welcome.png
  resources/images/welcome/08_welcome.png
  resources/images/welcome/09_welcome.png
  resources/images/welcome/10_welcome.png
  resources/images/welcome/11_welcome.png
  resources/images/welcome/12_welcome.png
  resources/images/welcome/13_welcome.png
  resources/images/welcome/14_welcome.png
  resources/images/welcome/15_welcome.png
  resources/images/welcome/16_welcome.png
  resources/images/welcome/17_welcome.png
  resources/images/welcome/18_welcome.png
  resources/images/welcome/19_welcome.png
  resources/images/welcome/20_welcome.png
  slides/eeg.md
Due: prettier --write

3.1.0 - Final Release - added brainrot and old has 41 images
  create.ps1
  create.sh
  resources/images/improv-brainrot/VWM-brain-rot-getty.jpg
  resources/images/improv-brainrot/cringe.jpg
  resources/images/improv-brainrot/free-1job.png
  resources/images/improv-brainrot/fries-in-bag.png
  resources/images/improv-brainrot/gigachad.jpg
  resources/images/improv-brainrot/glazing.png
  resources/images/improv-brainrot/gooncave.png
  resources/images/improv-brainrot/how-to-get-67.png
  resources/images/improv-brainrot/italian.png
  resources/images/improv-brainrot/looksmaxxing.png
  resources/images/improv-brainrot/lowtaper.png
  resources/images/improv-brainrot/maxresdefault.jpg
  resources/images/improv-brainrot/mewing.png
  resources/images/improv-brainrot/negaura.jpg
  resources/images/improv-brainrot/ohio.png
  resources/images/improv-brainrot/rizz.png
  resources/images/improv-brainrot/roblox-steal-a-brainrot-elephant_l1200.jpg
  resources/images/improv-brainrot/skibititoilet.jpg
  resources/images/improv-brainrot/sussyimposter.png
  resources/images/improv-brainrot/sybau.png
  slides/improv-brainrot.md
  slides/improv-old.md
  templates/_index.html
Due: none

3.1.1 Added a break deck
  resources/images/break/01_welcome.png
  resources/images/break/02_welcome.png
  resources/images/break/03_welcome.png
  slides/break.md
Due: none
